#search-btn {
    width: 40px;
    height:40px;
    color: #eee;
  }
.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  background: #94ff00;
  width: 50%;
  height: 50%;
  border-radius: 10% 50% 10%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #ffc700;
  
}

input {
  height: 2em;
}

placeholder {
  text-align: center;
  margin-left: 1em;
}

button {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  background: white;
  margin-left: 50px;
}

button:before {
  border-bottom: 2px solid #ffeb7f;
  position: absolute;
  width: 500px;
}

#coord::after {
  content:' °';
}

#coord::before {
  content: 'Température : ';
}
